</header>
    <fieldset class="tasks-list">
      <label class="tasks-list-item">
        <input type="checkbox" name="task_1" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">PROS Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_2" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Okapilib Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_3" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">PID & Slew Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_4" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Lift PID</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_5" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Inertial Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_6" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Odometry Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_7" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Pure Pursuit</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_8" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">State Machines</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_9" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Sylib Motor Controller</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_10" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">LVGL Tutorial</span>
      </label>
      <label class="tasks-list-item">
        <input type="checkbox" name="task_11" value="1" class="tasks-list-cb">
        <span class="tasks-list-mark"></span>
        <span class="tasks-list-desc">Auton Selection</span>
      </label>
    </fieldset>