---
---

@import "{{ site.theme }}";

title: 333R Online Development Documentation
author: alxsz12

body {
    font: comicsans;
    color: #000000;
}

header {   
    background: #000000; 
    h1 {
        color: #800080;
    }
}

#banner { 
    background: #800080;
    h1{
        color: #000000;
    }
}

button 
{
    background: #800080;
}
