.site-footer {
    padding-bottom: 120px
  }
  .sub-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    &:before {
      position: absolute;
      display: table;
      margin: -60px auto;
      top: 1px;
      left: 0;
      right: 0;
      content: "";
      border: 30px solid;
      cursor: pointer;
      border-color: transparent transparent $brand-color;
    }
  }
  #skin-switch-container {
    display: none;
    margin-left: -4px;
    padding: 15px 0;
    text-align: center;
    font-size: 0.8rem;
    select {
      margin: 0 2px;
      padding: 5px 2px;
      text-align: center;
      font-size: 0.8rem;
      border-radius: 5px;
      &:focus-visible {
        outline: none;
      }
    }
  }
  
  .sub-footer, .sub-footer select {
    color: $table-text-color;
    background: $table-header-bg-color;
    &::before {
      border-color: transparent transparent $table-header-bg-color;
    }
  }

//--------

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border-radius: 50%;
  background: conic-gradient(#766DF4 25%,#e4e4ed00 0 50%,#6F6D91 0 75%,#766DF4 0);
  animation: s2 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
   content:"";
   grid-area: 1/1;
   margin:15%;
   border-radius: 50%;
   background:inherit;
   animation:inherit;
}
.custom-loader::after {
   margin:25%;
   animation-duration: 3s;
}

@keyframes s2 {
  100% {transform: rotate(1turn)}
}